<%= form_for Post.new do |f| %>
  <div class="f">
    <%= f.text_field :place, :placeholder => "Name of place" %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  
  <%= image_tag "https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png" %>
  
  <!--div class="f">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div-->
  
  <div class="f">
    <%= f.text_area :content, :placeholder => "Post Content" %>
  </div>
  
  <div class="f">
    <%= submit_tag "Publish" %>
  </div>
<% end %>

<div style="width: 100px; height: 100px" id="map"></div>

<script>
  latlng = new google.maps.LatLng(-41.2929802,174.7788491);
  
  map = new google.maps.Map($('#map')[0], {
    center : latlng,
    zoom : 8
  });
  
  service = new google.maps.places.PlacesService(map);
  
  $('#post_place').blur(function(){
    request = {
      location : latlng,
      radius : 20000,
      keyword : $("#post_place").val()
    };
    
    service.nearbySearch(request, function(results, status){

      if (status == google.maps.places.PlacesServiceStatus.OK) {
        var result = results[0];

        $("#post_latitude").val(result.geometry.location.lat());
        $("#post_longitude").val(result.geometry.location.lng());
      }

      console.log(results);
      console.log(status);
    });
  });
  
</script>
