<header id="header">
  <%= link_to "< Back", root_path, :class => 'button left' %>
  
  <h1>Edit Post</h1>

  <%= link_to_function "Save", "$('form').submit()", :class => 'button right' %>
</header>

<section>
  <%= form_for @post do |f| %>
    <ul class="tabs" style="display: none">
      <li class="active">Search for<br /><b>Establishment</b></li>
      <li>Search for<br /><b>Locality</b></li>
      <li>Use current<br /><b>Location</b></li>
    </ul>
    
    <div class="f f-place">
      <%= f.text_field :place, :placeholder => "Name of Establishment" %>
      <button>Change</button>
      <address><%= f.object.address %></address>
    </div>

    <div class="f f-blog">
      <%= f.select :blog_id, ["Select a Blog"] + [''] + Blog.all.collect { |blog| [blog.name, blog.id] } + [''] + ["Create a new Blog"] %>
      <%= fields_for Blog.new do |ff| %>
        <%= ff.text_field :name, :placeholder => "Name of Blog" %>
      <% end %>
    </div>

    <%= f.hidden_field :address %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  
    <div class="f">
      <%= f.text_area :content, :placeholder => "Post Content" %>
    </div>
  <% end %>
</section>

<div style="width: 100px; height: 100px" id="map"></div>

<script>
  $(function(){
    new PostDialog
  });
</script>
